body {
  background-color:#E9E8E8;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}



.logo{
  margin-left:15%;
  margin-bottom:1%;
}

.logo img{
  width:30%

}

.top-image{
text-align:center
}

.top-image img{
  width:70%
}

.botton-image{
  text-align:center;
}

.botton-image img{
  width:50px;
  margin:50px 0 40px;
}

.message{
  
}

.message-name{
margin:20px 0 20px;
text-align:center;
}

.message-name p{
  font-size: 32px;
  font-family: ＭＳ 明朝,serif;
}


.message-date{
  text-align:center;
  color:gray;
  margin-bottom:50px;
  font-family: ＭＳ 明朝,serif;

}


.message-content{
padding:0px 20%;
}

.message-content p{
  font-family: ＭＳ 明朝,serif;
}

.past-botton{
  text-align:center;
  margin:50px 0 50px;
}

.past-botton img{
  width:160px;
}

.tm img{
  width:250px;
  margin-bottom:40px;
}

.pm img{
  width:250px;
  margin:30px 0 10px;
}

